@font-face {
    font-family: FolioBk;
    src: url(font/FolioBkBTBook.ttf);
  }

body {
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 20px; /* Rand hinzufügen */
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 12rem); /* Rand berücksichtigen */
    height: calc(100vh - 12rem); /* Rand berücksichtigen */
}

.foto {
    position: absolute;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0; /* Anfangs unsichtbar */
    transition: opacity 0.5s ease, transform 0.3s ease; /* Fade-in und Zoom-Effekt */
}

/* Hover-Effekt: Wenn mit der Maus über ein Bild gefahren wird, wird es in der unteren rechten Ecke angezeigt */
.foto:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Bild wird um den Faktor 1.5 vergrößert */
    opacity: 1; /* Bild bleibt sichtbar */
}

/* Kopie des Bildes in der unteren rechten Ecke */
.foto.hover-copy {
    position: fixed; /* Stelle sicher, dass es unabhängig vom Rest der Seite bleibt */
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0s ease, transform 0s ease;
    pointer-events: none; /* Mausereignisse ignorieren */
}

.foto:hover + .foto.hover-copy {
    opacity: 1;
    transform: scale(20); /* Die Kopie wird um den Faktor 2 vergrößert */
}



p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'FolioBk', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
    width: 100%;
    opacity: 1;
    z-index: 1000; 
}

a {
    color: inherit; /* übernimmt die Textfarbe vom Elternelement */
    text-decoration: underline; /* unterstreicht den Link */
}

a:visited {
    color: inherit; /* auch besuchte Links sollen die gleiche Farbe behalten */
}

a:hover {
    color: gray; /* oder z.B. black, #333, etc. */
}

/* Mobile Ansicht (Bilder ausblenden) */
@media (max-width: 768px) {
    /* Bilder in der mobilen Ansicht */
    .foto {
        display: none; /* Bilder standardmäßig ausblenden */
        width: auto;
        height: auto;
        max-width: 30vw; /* Maximale Breite von 80% der Bildschirmbreite */
        max-height: 30vh; /* Maximale Höhe von 80% der Bildschirmhöhe */
        object-fit: contain; /* Das Bild wird innerhalb der max-width und max-height skaliert */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Bilder werden immer zentriert */
        opacity: 0; /* Bilder sind zu Beginn unsichtbar */
        transition: opacity 0.5s ease; /* Sanfter Übergang bei der Anzeige */
    }

    .foto-m {
        display: none; /* Bilder standardmäßig ausblenden */
        width: auto;
        height: auto;
        max-width: 30vw; /* Maximale Breite von 80% der Bildschirmbreite */
        max-height: 30vh; /* Maximale Höhe von 80% der Bildschirmhöhe */
        object-fit: contain; /* Das Bild wird innerhalb der max-width und max-height skaliert */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Bilder werden immer zentriert */
    }
    
    .foto.hover-copy {
        display: none; /* Hover-Copy-Bilder in der mobilen Ansicht ausblenden */
    }

    /* .mobile-images Container zentrieren */
    .mobile-images {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /* Zeigt das aktive Bild */
    .foto-m.active {
        display: block; /* Nur das aktive Bild wird angezeigt */
        opacity: 1; /* Bild wird sichtbar */
    }
}
