/* Font import */
@font-face {
  font-family: Folio;
  src:  url('/fonts/foliobt_book.ttf') format("truetype"),
        url('/fonts/foliobt_book.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
}
* {
  margin: 0;
}
:root{
  --gutter: .444rem;
  --margin: 2rem;
  --aspectRatio: 2 / 3;
  --transition: cubic-bezier(.77,0,.175,1) 300ms;
}
html {
  font-family: Folio, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: clamp(18.5px, 1.953125vw, 24px);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0;
}
body {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
}
body.dark {
  --white: rgba(0, 0, 0, 1);
  --black: rgba(255, 255, 255, 1);
}
ul {
  list-style-type: none;
  padding: unset;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: pre-line;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:not(.menu-item>a):not(.project):not(.work):not(.work-list):hover {
  color: #999;
}
a:-webkit-any-link.underline,
a:any-link.underline,
.underline {
  text-decoration: underline;
}
.folio-14 {
  font-size: .56rem;
  letter-spacing: 0;
  line-height: 1.1;
}
.uppercase {
  text-transform: uppercase;
}
.hidden {
  display: none !important;
}
.mobile-only {
  display: none;
}
.desktop-only {
  /* display: unset; */
}
.difference {
  color: var(--white);
  mix-blend-mode: difference;
}
.no-cursor {
  cursor: none !important;
}
@media screen and (max-width: 700px) {
  :root {
    --gutter: .540rem;
  }
  html {
    line-height: 1.2;
  }
  .mobile-only {
    display: unset;
  }
  .desktop-only {
    display: none !important;
  }
  .folio-14 {
    font-size: .7567rem;
    letter-spacing: 0;
    line-height: 1.1;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: clamp(14px, 5.138vw, 18.5px);
  }
}